<html>

<head>
	<title>{{ .Path }}</title>
	<style>
		html,
		body {
			height: 100%;
			width: 100%;
			font-family: Courier, monospace;
			padding: 0;
			margin: 0;
		}

		a {
			text-decoration: none;
		}

		table {
			padding: 5%;
		}

		.path {
			font-style: underline;
		}

		.name {
			text-align: right;
			padding-right: 30px;
		}

		.name a {
			word-wrap: break-word;
			display: inline-block;
			width: 300px;
		}

		.size {
			text-align: left;
		}

		.archive {
			font-size: 0.8em;
		}
	</style>
</head>

<body>
	<table>
		<tr>
			<th class="name">Name</th>
			<th class="size">Size</th>
		</tr>
		<tr class="file item">
			<td class="name">
				<a href="/{{ .Path }}">.</a>
			</td>
			<td class="size">-</td>
		</tr>
		{{if ne .Parent ""}}
		<tr class="file item">
			<td class="name">
				<a href="{{ .Parent }}">..</a>
			</td>
			<td class="size">-</td>
		</tr>{{end}} {{range .Files}}
		<tr class="file item">
			<td class="name">
				{{if .Accessible}}
				<a href="{{ .Path }}{{if .IsDir}}/{{end}}">{{ .Name }}</a> {{else}} {{ .Name }} {{end}}
			</td>
			<td class="size" alt="{{ .Size }} bytes">
				{{if .IsDir}}-{{else if not .Accessible}}-{{else}}{{ tosize .Size }}{{end}}
			</td>
		</tr>{{end}} {{if .NumFiles}}
		<tr class="files">
			<th class="name">
				{{.NumFiles}} file{{if ne .NumFiles 1}}s{{end}}
			</th>
			<th class="size" alt="{{ .TotalSize }} bytes">
				{{ tosize .TotalSize }}
			</th>
		</tr>{{end}} {{if .NumDirs}}
		<tr class="files">
			<th class="name">
				{{.NumDirs}} dir{{if ne .NumDirs 1}}s{{end}}
			</th>
			<th>
			</th>
		</tr>{{end}} {{if .Archive}}
		<tr class="archive">
			<th class="name">
				download all as
			</th>
			<th>
				<a href="/{{ .Path }}.zip">zip</a>,
				<a href="/{{ .Path }}.tar">tar</a>,
				<a href="/{{ .Path }}.tar.gz">tar.gz</a>
			</th>
		</tr>{{end}}
	</table>
</body>

</html>
